<!DOCTYPE html>
<html lang="en">
    
<!----Academia Section---->
<section id="academia">
    <h2>Academia</h2>
  
    <!-- Row Card 1: Education -->
<div class="row-card">
    <div class="title-container">
      <h3>Education</h3>
    </div>
    <div class="sub-cards">
      <div class="sub-card">
            <!-- Image Container (left) -->
    <div class="card-img-container">
      <img src="{{ url_for('static', filename='assets/images/ub_logo.jpg') }}" alt="UB Logo" class="card-img">
      </div>
        <h4>University at Buffalo, SUNY</h4>
        <p>MSES - Cybersecurity</p>
        <p class="timeline">Aug 2023 - Dec 2024</p>
          <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7336923632373309440" height="1259" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
      </div>
      <div class="sub-card">
        <img src="{{ url_for('static', filename='assets/images/vtu_logo.png') }}" alt="VTU Logo" class="card-img">
        <h4>Visvesvaraya Technological University, India</h4>
        <p>BE - Electronics and Instrumentation</p>
        <p class="timeline">Aug 2018 - Jul 2022</p>
      </div>
    </div>
  </div>
  
  <!-- Row Card 2: Skills -->
  <div class="row-card">
    <div class="title-container">
        <h3>Skills</h3>
    </div>
    <div class="sub-cards">
        <div class="sub-card">
            <h4>Operating Systems</h4>
            <p>Windows, Linux (Ubuntu, Kali, Debian), MacOS</p>
        </div>
        <div class="sub-card">
            <h4>Programming & Scripting Languages</h4>
            <p>Python, C/C++, Bash, SQL, Dart</p>
        </div>
        <div class="sub-card">
            <h4>Networking & Security Protocols</h4>
            <p>TCP/IP, FTP, SSH, DNS, HTTP/HTTPS, VPN, OSI Model, IPSec, TLS/SSL</p>
        </div>
        <div class="sub-card">
          <h4>Cloud & Infrastructure Security</h4>
          <p>AWS, Azure, GCP</p>
      </div>
        <div class="sub-card">
            <h4>Cybersecurity & Penetration Testing</h4>
            <p>Vulnerability Assessment, Threat Modeling, Risk Management, Security Automation</p></br>
            <p>Incident Response, Threat Hunting, Digital Forensics</p></br>
           <!-- <p>Penetration Testing & Exploitation, Red Teaming</p></br>-->
            <p>SIEM, Network Security, IAM, Zero Trust Security</p></br>
        </div>
        <div class="sub-card">
            <h4>Security Tools & Technologies</h4>
           <!-- <p><strong>Penetration Testing:</strong> Nmap, Metasploit, Burp Suite, Netcat, Hydra, John the Ripper, Msfvenom</p>-->
            <p><strong>Security Monitoring & Analysis:</strong> Splunk, Wazuh, Suricata, Snort, Zeek, Wireshark</p> </br>
            <p><strong>Firewalls & Networking:</strong> pfSense, NIDS, Cloudflare WAF</p> </br>
            <p><strong>Cloud & Virtualization:</strong> AWS (EC2, IAM, S3, VPC), Azure, GCP, VMware, VirtualBox</p> </br>
            <p><strong>Development & DevOps:</strong> Docker, GitHub</p>
        </div>
        
        <div class="sub-card">
            <h4>Identity & Access Management (IAM)</h4>
            <p>Active Directory, OAuth, SAML, MFA, Role-Based Access Control (RBAC)</p>
        </div>
        <div class="sub-card">
            <h4>Data Management & Security</h4>
            <p>MySQL, Microsoft 365 Apps, Encryption Standards</p>
        </div>
    </div>
</div>

  
  
    <!-- Row Card 3: Certifications -->
    <div class="row-card">
      <div class="title-container">
        <h3>Certifications</h3>
      </div>
      <div class="sub-cards">
        <div class="sub-card">
          <img src="{{ url_for('static', filename='assets/images/google_logo.jpg') }}" alt="Google Logo" class="card-img">
          <h4>Google AI Essentials</h4>
          <p>Issued by Google</p>
          <p class="timeline">Feb 2025</p>
          <a href="https://www.coursera.org/account/accomplishments/verify/XM1YW2LKO6WM" class="btn-text" target="_blank">Verify</a>
        </div>
        <div class="sub-card">
          <img src="{{ url_for('static', filename='assets/images/aws_logo.png') }}" alt="AWS Logo" class="card-img">
          <h4>AWS Certified Cloud Practitoner</h4>
          <p>Issued by AWS</p>
          <p class="timeline">Jan 2025 - Jan 2028</p>
          <a href="https://www.credly.com/badges/2367d5f1-a908-44b4-93a0-58683b81ff21/public_url" class="btn-text" target="_blank">Verify</a>
        </div>
        <div class="sub-card">
          <img src="{{ url_for('static', filename='assets/images/isc2cc_logo.jpeg') }}" alt="ISC2CC Logo" class="card-img">
            <h4>Certified in Cybersecurity (CC)</h4>
            <p>Issued by ISC2</p>
            <p class="timeline">Oct 2024 - Oct 2027</p>
            <a href="https://www.credly.com/badges/d21e67f2-c7dd-4d1c-a0fb-025656f1a412/public_url" class="btn-text" target="_blank">Verify</a>
          </div>
          <div class="sub-card">
            <img src="{{ url_for('static', filename='assets/images/forage_logo.png') }}" alt="forage Logo" class="card-img">
            <h4>Forage Mastercard Cybersecurity Job Simulation</h4>
            <p>Issued by Forage</p>
            <p class="timeline">Apr 2024</p>
            <a href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/mastercard/vcKAB5yYAgvemepGQ_Mastercard_5sZ5zyDsC6c8Aryv9_1713102218698_completion_certificate.pdf" class="btn-text" target="_blank">Verify</a>
          </div>
          <div class="sub-card">
            <img src="{{ url_for('static', filename='assets/images/forage_logo.png') }}" alt="forage Logo" class="card-img">
            <h4>Forage Tata Cybersecurity Job Simulation</h4>
            <p>Issued by Forage</p>
            <p class="timeline">Apr 2024</p>
            <a href="https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/Tata/gmf3ypEXBj2wvfQWC_Tata%20Group_5sZ5zyDsC6c8Aryv9_1713218359521_completion_certificate.pdf" class="btn-text" target="_blank">Verify</a>
          </div>
          <div class="sub-card">
            <img src="{{ url_for('static', filename='assets/images/linkedin_logo.png') }}" alt="LinkedIN Logo" class="card-img">
            <h4>Introduction to Security Information and Event Management (SIEM)</h4>
            <p>Issued by LinkedIN</p>
            <p class="timeline">Mar 2024</p>
            <a href="https://www.linkedin.com/learning/certificates/06f556da0bbd6c15b0168ad8b8829d82ca8d9f48b8a702ffd9f4d1e682d10205?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BcZPYpJRRTUq2vpiG2GMy7A%3D%3D" class="btn-text" target="_blank">Verify</a>
          </div>
          <div class="sub-card">
            <img src="{{ url_for('static', filename='assets/images/cisco_logo.jpg') }}" alt="Cisco Logo" class="card-img">
            <h4>Introduction to Cybersecurity</h4>
            <p>Issued by Cisco</p>
            <p class="timeline">Feb 2024</p>
            <a href="https://www.credly.com/badges/6810c42f-88e4-4533-a378-8418bf94c713/public_url" class="btn-text" target="_blank">Verify</a>
          </div>
      </div>
    </div>
  
    <!-- Row Card 4: Publications -->
    <div class="row-card">
        <div class="title-container">
          <h3>Publications</h3>
        </div>
        <div class="sub-cards">
          <div class="sub-card">
            <h4>Ultrasonic Smart Stick for Visually Impaired</h4>
            <p>International Conference on Recent Trends in Science & Technology, 2020</p>
           <!-- <p> Keywords: Visually Impaired, Smart Stick, ESP 32, Ultrasonic Sensor, GPS/GSM, Voice Assistant.</p>-->
            <a href="https://drive.google.com/file/d/17BefjlIEa24T84s98CH4kgZF3njiVaAs/view" class="btn-text" target="_blank">View Paper</a>
          </div>
          <div class="sub-card">
            <h4>Breast Cancer Detection Using Image Processing and Magnetic Resonance Imaging Files Transfer</h4>
            <p>International Journal of Advanced Science and Technology, 2020</p>
            <!--<p> Keywords: Breast cancer, neoadjuvant chemotherapy, better prognostication, mobile application, intensity
                and size of tumour, filters, file transfer, easy digital consultation, Machine learning, Artificial Intelligence.</p>-->
            <a href="https://drive.google.com/file/d/17inldHc-rNpIO6hXYoJeyLDItSx0qdF6/view" class="btn-text" target="_blank">View Paper</a>
          </div>
        </div>
      </div>

         <!-- Row Card 5: Awards -->
<div class="row-card">
    <div class="title-container">
      <h3>Awards & Achievements</h3>
    </div>
    <div class="sub-cards">
      <div class="sub-card">
        <h4>White Team Member</h4>
        <p>Volunteered at UB Internal Lockdown, enhancing team security protocols.</p>
        <p class="timeline">2023/2024</p>
      </div>
      <div class="sub-card">
        <h4>Cyber Challenge Participant</h4>
        <p>Actively involved in TryHackMe and MetaCTF challenges.</p>
        <p class="timeline">2023/2024</p>
      </div>
      <div class="sub-card">
        <h4>Best Outgoing Student</h4>
        <p>Awarded at RNS Institute of Technology.</p>
        <p class="timeline">2022</p>
      </div>
      <div class="sub-card">
        <h4>Global Top 50 Semi-finalist</h4>
        <p>for the Google Solution Challenge.</p>
        <p class="timeline">2021</p>
      </div>
      <div class="sub-card">
        <h4>Smart Stick Presentation</h4>
        <p>Presented the smart stick for visually impaired at Microsoft Technology Center Bangalore.</p>
        <p class="timeline">2021</p>
      </div>
      <div class="sub-card">
        <h4>YESIST12 Champion</h4>
        <p>Champion of the International Innovation Challenge at Stamford University Thailand.</p>
        <p class="timeline">2019</p>
      </div>
    </div>
  </div>
  
      
  </section>
