<footer class="footer">
  <div class="footer-icons">
      <a href="https://github.com/2smakshaj6" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://linkedin.com/in/akshajsm" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://youtube.com/@blutreetechnologynetworks6518" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="mailto:akshajsh@buffalo.edu"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-divider"></div>
  <p>© <span id="current-year"></span> Akshaj Shivara Madhusudhan. All Rights Reserved.</p>
</footer>

<script>
document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
