<section id class="navbar">
  <div class="navbar-brand">
    <a href="#home"></a>
    <img src="{{ url_for('static', filename='assets/images/ak_logo.png') }}" alt="Logo">
  </div>

    <!-- Hamburger Menu Icon -->
    <div class="hamburger-menu" id="hamburger-menu">
      <div class="ham-bar bar-top"></div>
      <div class="ham-bar bar-mid"></div>
      <div class="ham-bar bar-bottom"></div>
  </div>

  <nav class="nav-container">
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#academia">Academia</a></li>
      <li><a href="#projects">Projects</a></li>
      <!--<li><a href="#blogs">Blogs</a></li>-->
    </ul>
  </nav>

</section>