<!-- Projects Section -->
<section id="projects">
    <h2>Projects</h2>
    <div class="projects-container">
      <div class="project-card">
        <h3>HomeLab</h3>
        <p>Self-hosted security-hardened network with VPN, firewall, IDS, and SIEM.</p>
        <a href="https://github.com/2smakshaj6/Projects/blob/main/homelab.md" class="btn-text" target="_blank">View</a>
      </div>
      <div class="project-card">
        <h3>Personal VPN Setup</h3>
        <p>Deploying WireGuard VPN on AWS for secure browsing.</p>
        <a href="https://github.com/2smakshaj6/Projects/blob/main/vpn.md" class="btn-text" target="_blank">View</a>
      </div>
      <div class="project-card">
        <h3>RealHeroS</h3>
        <p>An Android app for emergency assistance and safety</p>
        <a href="https://github.com/2smakshaj6/RealHeroS" class="btn-text" target="_blank">View</a>
      </div>
    </div>
  </section>
  